html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body(class='background')
    nav
      navbar-default
        div
          h1= message
          img(src='/sap-cloud-sdk-logo.svg' alt='SAP Cloud SDK Logo' style='width:150px;')
          ul 
            li
              a(href='/') Home
            li
              a(href='/business-partner') Business-Partners
          br
          a(class='mylink' href='https://raw.githubusercontent.com/Azure-Samples/app-service-javascript-sap-cloud-sdk-quickstart/main/templates/SAP-Cloud-SDK-on-Azure-App-Service-Quickstart.postman_collection.json') 📌Postman collection
    footer(class='footer')
      a(href='https://github.com/Azure-Samples/app-service-javascript-sap-cloud-sdk-quickstart')
        img(src='/github-logo.svg' alt='GitHub Logo' style='width:30px;padding-left:10px;padding-bottom:5px;')