{"openapi":"3.0.1","info":{"title":"API_BUSINESS_PARTNERPM4","description":"Thisserviceislocatedat[https://api.integration-ninjas.co.in/sap/opu/odata/sap/API_BUSINESS_PARTNER/](https://api.integration-ninjas.co.in/sap/opu/odata/sap/API_BUSINESS_PARTNER/)","version":"1.0"},"servers":[{"url":"https://api.integration-ninjas.co.in/sap/opu/odata/sap/API_BUSINESS_PARTNER"}],"paths":{"/A_AddressEmailAddress":{"get":{"tags":["EmailAddress"],"summary":"Retrievesemailaddressdatalinkedtobusinesspartneraddressfields.","description":"Retrievesalltheemailaddressdatalinkedtoallbusinesspartneraddressrecordsinthesystem.","operationId":"get-a_addressemailaddress","parameters":[{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","AddressIDdesc","Person","Persondesc","OrdinalNumber","OrdinalNumberdesc","IsDefaultEmailAddress","IsDefaultEmailAddressdesc","EmailAddress","EmailAddressdesc","SearchEmailAddress","SearchEmailAddressdesc","AddressCommunicationRemarkText","AddressCommunicationRemarkTextdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","IsDefaultEmailAddress","EmailAddress","SearchEmailAddress","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_AddressEmailAddressType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressEmailAddressType"}}}}}},"example":{"d":{"__count":"string","results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}]}}}}}}},"post":{"tags":["EmailAddress"],"summary":"Createsanewemailaddressdatafortheexistingbusinesspartneraddress.","description":"Addsanewemailaddressdatafortheexistingbusinesspartneraddressrecord.Multipleemailscanbelinkedtoanaddressrecord.","operationId":"post-a_addressemailaddress","requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressEmailAddressType-create"},"example":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_AddressEmailAddressType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressEmailAddressType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}}}}}}}},"/A_AddressEmailAddress(AddressID='{AddressID}',Person='{Person}',OrdinalNumber='{OrdinalNumber}')":{"get":{"tags":["EmailAddress"],"summary":"Retrievesemailaddressdatabyusingkeyfields.","description":"RetrievesemailaddressdatabyusingAddressID,PersonandOrdinalNumberfields.","operationId":"get-a_addressemailaddress-addressid-addressid-person-person-ordinalnumber-or","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","IsDefaultEmailAddress","EmailAddress","SearchEmailAddress","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentity","content":{"application/json":{"schema":{"title":"A_AddressEmailAddressType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressEmailAddressType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}}}}}}},"patch":{"tags":["EmailAddress"],"summary":"Updatesemailaddressrecordbyusingkeyfields.","description":"UpdatesbusinesspartneremailaddressdataoftherecordidentifiedbyAddressID,PersonandOrdinalNumberfields.","operationId":"patch-a_addressemailaddress-addressid-addressid-person-person-ordinalnumber","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}}],"requestBody":{"description":"Newpropertyvalues","content":{"application/json":{"schema":{"title":"ModifiedA_AddressEmailAddressType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressEmailAddressType-update"}}},"example":{"d":{"IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}}}}},"responses":{"204":{"description":"Success"}}},"delete":{"tags":["EmailAddress"],"summary":"Deletesemailaddressrecordbyusingkeyfields.","description":"DeletesbusinesspartneremailaddressdataoftherecordidentifiedbyAddressID,Person,andOrdinalNumber.","operationId":"delete-a_addressemailaddress-addressid-addressid-person-person-ordinalnumber","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}}],"responses":{"204":{"description":"Success"}}}},"/A_AddressFaxNumber":{"get":{"tags":["FaxNumber"],"summary":"Retrievesfaxaddressdatalinkedtobusinesspartneraddress.","description":"Retrievesallthefaxaddressdatalinkedtoallthebusinesspartneraddressrecordsinthesystem","operationId":"get-a_addressfaxnumber","parameters":[{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","AddressIDdesc","Person","Persondesc","OrdinalNumber","OrdinalNumberdesc","IsDefaultFaxNumber","IsDefaultFaxNumberdesc","FaxCountry","FaxCountrydesc","FaxNumber","FaxNumberdesc","FaxNumberExtension","FaxNumberExtensiondesc","InternationalFaxNumber","InternationalFaxNumberdesc","AddressCommunicationRemarkText","AddressCommunicationRemarkTextdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","IsDefaultFaxNumber","FaxCountry","FaxNumber","FaxNumberExtension","InternationalFaxNumber","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_AddressFaxNumberType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressFaxNumberType"}}}}}},"example":{"d":{"__count":"string","results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}]}}}}}}},"post":{"tags":["FaxNumber"],"summary":"Createsanewfaxaddressdatafortheexistingbusinesspartneraddress.","description":"Addsanewfaxaddressrecordfortheexistingbusinesspartneraddressrecord.Multiplefaxcanbelinkedtoanaddressrecord.","operationId":"post-a_addressfaxnumber","requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressFaxNumberType-create"},"example":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_AddressFaxNumberType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressFaxNumberType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}}}}}}}},"/A_AddressFaxNumber(AddressID='{AddressID}',Person='{Person}',OrdinalNumber='{OrdinalNumber}')":{"get":{"tags":["FaxNumber"],"summary":"Retrievesfaxaddressrecordsbykeyfields.","description":"RetrievesfaxaddressrecordsbyAddressID,Person,andOrdinalNumberfield.","operationId":"get-a_addressfaxnumber-addressid-addressid-person-person-ordinalnumber-ordin","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","IsDefaultFaxNumber","FaxCountry","FaxNumber","FaxNumberExtension","InternationalFaxNumber","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentity","content":{"application/json":{"schema":{"title":"A_AddressFaxNumberType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressFaxNumberType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}}}}}}},"patch":{"tags":["FaxNumber"],"summary":"Updatesfaxaddressrecordbykeyfield.","description":"UpdatesbusinesspartnerfaxaddressdataoftherecordidentifiedbyAddressID,Person,andOrdinalNumber.","operationId":"patch-a_addressfaxnumber-addressid-addressid-person-person-ordinalnumber-ord","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}}],"requestBody":{"description":"Newpropertyvalues","content":{"application/json":{"schema":{"title":"ModifiedA_AddressFaxNumberType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressFaxNumberType-update"}}},"example":{"d":{"IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}}}}},"responses":{"204":{"description":"Success"}}},"delete":{"tags":["FaxNumber"],"summary":"Deletesfaxaddressrecordbykeyfield.","description":"DeletesbusinesspartnerfaxaddressdataoftherecordidentifiedbyAddressID,PersonandOrdinalNumber.","operationId":"delete-a_addressfaxnumber-addressid-addressid-person-person-ordinalnumber-or","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}}],"responses":{"204":{"description":"Success"}}}},"/A_AddressHomePageURL":{"get":{"tags":["HomePageURL"],"summary":"RetrieveshomepageURLaddressrecordslinkedtobusinesspartneraddress.","description":"RetrievesallthehomepageURLaddressrecordslinkedtoallbusinesspartneraddressrecordsinthesystem.","operationId":"get-a_addresshomepageurl","parameters":[{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","AddressIDdesc","Person","Persondesc","OrdinalNumber","OrdinalNumberdesc","ValidityStartDate","ValidityStartDatedesc","IsDefaultURLAddress","IsDefaultURLAddressdesc","SearchURLAddress","SearchURLAddressdesc","AddressCommunicationRemarkText","AddressCommunicationRemarkTextdesc","URLFieldLength","URLFieldLengthdesc","WebsiteURL","WebsiteURLdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","ValidityStartDate","IsDefaultURLAddress","SearchURLAddress","AddressCommunicationRemarkText","URLFieldLength","WebsiteURL"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_AddressHomePageURLType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressHomePageURLType"}}}}}},"example":{"d":{"__count":"string","results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","IsDefaultURLAddress":true,"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}]}}}}}}},"post":{"tags":["HomePageURL"],"summary":"CreatesanewhomepageURLaddressrecordtotheexistingbusinesspartneraddress.","description":"AddsanewhomepageURLtotheexistingbusinesspartneraddressrecord.MultipleURLscanbelinkedtoanaddressrecord.","operationId":"post-a_addresshomepageurl","requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressHomePageURLType-create"},"example":{"AddressID":"string","Person":"string","OrdinalNumber":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","IsDefaultURLAddress":true,"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_AddressHomePageURLType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressHomePageURLType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","IsDefaultURLAddress":true,"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}}}}}}}},"/A_AddressHomePageURL(AddressID='{AddressID}',Person='{Person}',OrdinalNumber='{OrdinalNumber}',ValidityStartDate=datetime'{ValidityStartDate}',IsDefaultURLAddress='{IsDefaultURLAddress}')":{"get":{"tags":["HomePageURL"],"summary":"RetrieveshomepageURLaddressrecordsbyusingkeyfields.","description":"RetrieveshomepageURLaddressrecordsbyusingAddressID,Person,andOrdinalNumberfields.","operationId":"get-a_addresshomepageurl-addressid-addressid-person-person-ordinalnumber-ord","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}},{"name":"ValidityStartDate","in":"path","description":"Valid-fromdate-incurrentReleaseonly00010101possible","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"IsDefaultURLAddress","in":"path","description":"Flag:thisaddressisthedefaultaddress","required":true,"schema":{"type":"boolean"}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","ValidityStartDate","IsDefaultURLAddress","SearchURLAddress","AddressCommunicationRemarkText","URLFieldLength","WebsiteURL"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentity","content":{"application/json":{"schema":{"title":"A_AddressHomePageURLType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressHomePageURLType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","IsDefaultURLAddress":true,"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}}}}}}},"patch":{"tags":["HomePageURL"],"summary":"UpdateshomepageURLaddressrecordbykeyfields.","description":"UpdatesbusinesspartnerhomepageURLaddressdataoftherecordidentifiedbyAddressID,Person,andOrdinalNumber.","operationId":"patch-a_addresshomepageurl-addressid-addressid-person-person-ordinalnumber-o","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}},{"name":"ValidityStartDate","in":"path","description":"Valid-fromdate-incurrentReleaseonly00010101possible","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"IsDefaultURLAddress","in":"path","description":"Flag:thisaddressisthedefaultaddress","required":true,"schema":{"type":"boolean"}}],"requestBody":{"description":"Newpropertyvalues","content":{"application/json":{"schema":{"title":"ModifiedA_AddressHomePageURLType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressHomePageURLType-update"}}},"example":{"d":{"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}}}}},"responses":{"204":{"description":"Success"}}},"delete":{"tags":["HomePageURL"],"summary":"DeleteshomepageURLaddressrecordbykeyfields.","description":"DeletesbusinessPartnerhomepageURLaddressdataoftherecordidentifiedbyAddressID,Person,andOrdinalNumber","operationId":"delete-a_addresshomepageurl-addressid-addressid-person-person-ordinalnumber","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}},{"name":"ValidityStartDate","in":"path","description":"Valid-fromdate-incurrentReleaseonly00010101possible","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"IsDefaultURLAddress","in":"path","description":"Flag:thisaddressisthedefaultaddress","required":true,"schema":{"type":"boolean"}}],"responses":{"204":{"description":"Success"}}}},"/A_AddressPhoneNumber":{"get":{"tags":["PhoneNumber"],"summary":"Retrievesmobile/telephoneaddressrecordslinkedtobusinesspartneraddress.","description":"Retrievesallthemobile/telephoneaddressrecordslinkedtoallthebusinesspartneraddressrecordsinthesystem.","operationId":"get-a_addressphonenumber","parameters":[{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","AddressIDdesc","Person","Persondesc","OrdinalNumber","OrdinalNumberdesc","DestinationLocationCountry","DestinationLocationCountrydesc","IsDefaultPhoneNumber","IsDefaultPhoneNumberdesc","PhoneNumber","PhoneNumberdesc","PhoneNumberExtension","PhoneNumberExtensiondesc","InternationalPhoneNumber","InternationalPhoneNumberdesc","PhoneNumberType","PhoneNumberTypedesc","AddressCommunicationRemarkText","AddressCommunicationRemarkTextdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","DestinationLocationCountry","IsDefaultPhoneNumber","PhoneNumber","PhoneNumberExtension","InternationalPhoneNumber","PhoneNumberType","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_AddressPhoneNumberType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType"}}}}}},"example":{"d":{"__count":"string","results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}]}}}}}}},"post":{"tags":["PhoneNumber"],"summary":"Createsanewmobile/telephoneaddressrecordfortheexistingbusinesspartneraddress.","description":"Addsanewmobile/telephonerecordfortheexistingbusinesspartneraddressrecords.Multiplerecordscanbelinkedtoanaddress.","operationId":"post-a_addressphonenumber","requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType-create"},"example":{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_AddressPhoneNumberType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}}}}}}}},"/A_AddressPhoneNumber(AddressID='{AddressID}',Person='{Person}',OrdinalNumber='{OrdinalNumber}')":{"get":{"tags":["PhoneNumber"],"summary":"Retrievesmobile/telephoneaddressrecordbykeyfields.","description":"Retreivesmobile/telephoneaddressrecordbyAddressID,PersonandOrdinalNumber.","operationId":"get-a_addressphonenumber-addressid-addressid-person-person-ordinalnumber-ord","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","DestinationLocationCountry","IsDefaultPhoneNumber","PhoneNumber","PhoneNumberExtension","InternationalPhoneNumber","PhoneNumberType","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentity","content":{"application/json":{"schema":{"title":"A_AddressPhoneNumberType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}}}}}}},"patch":{"tags":["PhoneNumber"],"summary":"Updatesmobile/telephoneaddressrecordsbykeyfields.","description":"Updatesbusinesspartnermobile/telephoneaddressdataoftherecordidentifiedbyAddressID,Person,andOrdinalNumber.","operationId":"patch-a_addressphonenumber-addressid-addressid-person-person-ordinalnumber-o","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}}],"requestBody":{"description":"Newpropertyvalues","content":{"application/json":{"schema":{"title":"ModifiedA_AddressPhoneNumberType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType-update"}}},"example":{"d":{"DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}}}}},"responses":{"204":{"description":"Success"}}},"delete":{"tags":["PhoneNumber"],"summary":"Deletesmobile/telephoneaddressrecordsbykeyfields.","description":"Deletebusinesspartnermobile/telephoneaddressdataoftherecordidentifiedbyAddressID,Person,andOrdinalNumberfields.","operationId":"delete-a_addressphonenumber-addressid-addressid-person-person-ordinalnumber","parameters":[{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"Person","in":"path","description":"PersonNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"OrdinalNumber","in":"path","description":"SequenceNumber","required":true,"schema":{"maxLength":3,"type":"string"}}],"responses":{"204":{"description":"Success"}}}},"/A_BPContactToAddress":{"get":{"tags":["ContactPersonAddress"],"summary":"Retrievesworkplaceaddressrecordslinkedtobusinesspartnercontact.","description":"Retrievesalltheworkplaceaddressrecordslinkedtoallthebusinesspartnercontactrecordsinthesystem.","operationId":"get-a_bpcontacttoaddress","parameters":[{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["RelationshipNumber","RelationshipNumberdesc","BusinessPartnerCompany","BusinessPartnerCompanydesc","BusinessPartnerPerson","BusinessPartnerPersondesc","ValidityEndDate","ValidityEndDatedesc","AddressID","AddressIDdesc","AddressNumber","AddressNumberdesc","AdditionalStreetPrefixName","AdditionalStreetPrefixNamedesc","AdditionalStreetSuffixName","AdditionalStreetSuffixNamedesc","AddressTimeZone","AddressTimeZonedesc","CareOfName","CareOfNamedesc","CityCode","CityCodedesc","CityName","CityNamedesc","CompanyPostalCode","CompanyPostalCodedesc","Country","Countrydesc","County","Countydesc","DeliveryServiceNumber","DeliveryServiceNumberdesc","DeliveryServiceTypeCode","DeliveryServiceTypeCodedesc","District","Districtdesc","FormOfAddress","FormOfAddressdesc","FullName","FullNamedesc","HomeCityName","HomeCityNamedesc","HouseNumber","HouseNumberdesc","HouseNumberSupplementText","HouseNumberSupplementTextdesc","Language","Languagedesc","POBox","POBoxdesc","POBoxDeviatingCityName","POBoxDeviatingCityNamedesc","POBoxDeviatingCountry","POBoxDeviatingCountrydesc","POBoxDeviatingRegion","POBoxDeviatingRegiondesc","POBoxIsWithoutNumber","POBoxIsWithoutNumberdesc","POBoxLobbyName","POBoxLobbyNamedesc","POBoxPostalCode","POBoxPostalCodedesc","Person","Persondesc","PostalCode","PostalCodedesc","PrfrdCommMediumType","PrfrdCommMediumTypedesc","Region","Regiondesc","StreetName","StreetNamedesc","StreetPrefixName","StreetPrefixNamedesc","StreetSuffixName","StreetSuffixNamedesc","TaxJurisdiction","TaxJurisdictiondesc","TransportZone","TransportZonedesc","AddressRepresentationCode","AddressRepresentationCodedesc","ContactRelationshipFunction","ContactRelationshipFunctiondesc","ContactRelationshipDepartment","ContactRelationshipDepartmentdesc","Floor","Floordesc","ContactPersonBuilding","ContactPersonBuildingdesc","RoomNumber","RoomNumberdesc","ContactPersonPrfrdCommMedium","ContactPersonPrfrdCommMediumdesc","CorrespondenceShortName","CorrespondenceShortNamedesc","InhouseMail","InhouseMaildesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["RelationshipNumber","BusinessPartnerCompany","BusinessPartnerPerson","ValidityEndDate","AddressID","AddressNumber","AdditionalStreetPrefixName","AdditionalStreetSuffixName","AddressTimeZone","CareOfName","CityCode","CityName","CompanyPostalCode","Country","County","DeliveryServiceNumber","DeliveryServiceTypeCode","District","FormOfAddress","FullName","HomeCityName","HouseNumber","HouseNumberSupplementText","Language","POBox","POBoxDeviatingCityName","POBoxDeviatingCountry","POBoxDeviatingRegion","POBoxIsWithoutNumber","POBoxLobbyName","POBoxPostalCode","Person","PostalCode","PrfrdCommMediumType","Region","StreetName","StreetPrefixName","StreetSuffixName","TaxJurisdiction","TransportZone","AddressRepresentationCode","ContactRelationshipFunction","ContactRelationshipDepartment","Floor","ContactPersonBuilding","RoomNumber","ContactPersonPrfrdCommMedium","CorrespondenceShortName","InhouseMail","to_EmailAddress","to_FaxNumber","to_MobilePhoneNumber","to_PhoneNumber","to_URLAddress"],"type":"string"}}},{"name":"$expand","in":"query","description":"Expandrelatedentities,see[Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["to_EmailAddress","to_FaxNumber","to_MobilePhoneNumber","to_PhoneNumber","to_URLAddress"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_BPContactToAddressType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BPContactToAddressType"}}}}}},"example":{"d":{"__count":"string","results":[{"RelationshipNumber":"string","BusinessPartnerCompany":"string","BusinessPartnerPerson":"string","ValidityEndDate":"2017-04-13T00:00:00.0000000+00:00","AddressID":"string","AddressNumber":"string","AdditionalStreetPrefixName":"string","AdditionalStreetSuffixName":"string","AddressTimeZone":"string","CareOfName":"string","CityCode":"string","CityName":"string","CompanyPostalCode":"string","Country":"string","County":"string","DeliveryServiceNumber":"string","DeliveryServiceTypeCode":"string","District":"string","FormOfAddress":"string","FullName":"string","HomeCityName":"string","HouseNumber":"string","HouseNumberSupplementText":"string","Language":"string","POBox":"string","POBoxDeviatingCityName":"string","POBoxDeviatingCountry":"string","POBoxDeviatingRegion":"string","POBoxIsWithoutNumber":true,"POBoxLobbyName":"string","POBoxPostalCode":"string","Person":"string","PostalCode":"string","PrfrdCommMediumType":"string","Region":"string","StreetName":"string","StreetPrefixName":"string","StreetSuffixName":"string","TaxJurisdiction":"string","TransportZone":"string","AddressRepresentationCode":"string","ContactRelationshipFunction":"string","ContactRelationshipDepartment":"string","Floor":"string","ContactPersonBuilding":"string","RoomNumber":"string","ContactPersonPrfrdCommMedium":"string","CorrespondenceShortName":"string","InhouseMail":"string","to_EmailAddress":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}]},"to_FaxNumber":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}]},"to_MobilePhoneNumber":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}]},"to_PhoneNumber":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}]},"to_URLAddress":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","IsDefaultURLAddress":true,"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}]}}]}}}}}}}},"/A_BPContactToAddress(RelationshipNumber='{RelationshipNumber}',BusinessPartnerCompany='{BusinessPartnerCompany}',BusinessPartnerPerson='{BusinessPartnerPerson}',ValidityEndDate=datetime'{ValidityEndDate}',AddressID='{AddressID}')":{"get":{"tags":["ContactPersonAddress"],"summary":"Retrievescontactpersonworkplaceaddressrecordbyusingkeyfields.","description":"RetrievesworkplaceaddressrecordbyRelationshipNumber,BusinessPartnerCompany,BusinessPartnerPersonandValidityEndDate.","operationId":"get-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspartn","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["RelationshipNumber","BusinessPartnerCompany","BusinessPartnerPerson","ValidityEndDate","AddressID","AddressNumber","AdditionalStreetPrefixName","AdditionalStreetSuffixName","AddressTimeZone","CareOfName","CityCode","CityName","CompanyPostalCode","Country","County","DeliveryServiceNumber","DeliveryServiceTypeCode","District","FormOfAddress","FullName","HomeCityName","HouseNumber","HouseNumberSupplementText","Language","POBox","POBoxDeviatingCityName","POBoxDeviatingCountry","POBoxDeviatingRegion","POBoxIsWithoutNumber","POBoxLobbyName","POBoxPostalCode","Person","PostalCode","PrfrdCommMediumType","Region","StreetName","StreetPrefixName","StreetSuffixName","TaxJurisdiction","TransportZone","AddressRepresentationCode","ContactRelationshipFunction","ContactRelationshipDepartment","Floor","ContactPersonBuilding","RoomNumber","ContactPersonPrfrdCommMedium","CorrespondenceShortName","InhouseMail","to_EmailAddress","to_FaxNumber","to_MobilePhoneNumber","to_PhoneNumber","to_URLAddress"],"type":"string"}}},{"name":"$expand","in":"query","description":"Expandrelatedentities,see[Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["to_EmailAddress","to_FaxNumber","to_MobilePhoneNumber","to_PhoneNumber","to_URLAddress"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentity","content":{"application/json":{"schema":{"title":"A_BPContactToAddressType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BPContactToAddressType"}}},"example":{"d":{"RelationshipNumber":"string","BusinessPartnerCompany":"string","BusinessPartnerPerson":"string","ValidityEndDate":"2017-04-13T00:00:00.0000000+00:00","AddressID":"string","AddressNumber":"string","AdditionalStreetPrefixName":"string","AdditionalStreetSuffixName":"string","AddressTimeZone":"string","CareOfName":"string","CityCode":"string","CityName":"string","CompanyPostalCode":"string","Country":"string","County":"string","DeliveryServiceNumber":"string","DeliveryServiceTypeCode":"string","District":"string","FormOfAddress":"string","FullName":"string","HomeCityName":"string","HouseNumber":"string","HouseNumberSupplementText":"string","Language":"string","POBox":"string","POBoxDeviatingCityName":"string","POBoxDeviatingCountry":"string","POBoxDeviatingRegion":"string","POBoxIsWithoutNumber":true,"POBoxLobbyName":"string","POBoxPostalCode":"string","Person":"string","PostalCode":"string","PrfrdCommMediumType":"string","Region":"string","StreetName":"string","StreetPrefixName":"string","StreetSuffixName":"string","TaxJurisdiction":"string","TransportZone":"string","AddressRepresentationCode":"string","ContactRelationshipFunction":"string","ContactRelationshipDepartment":"string","Floor":"string","ContactPersonBuilding":"string","RoomNumber":"string","ContactPersonPrfrdCommMedium":"string","CorrespondenceShortName":"string","InhouseMail":"string","to_EmailAddress":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}]},"to_FaxNumber":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}]},"to_MobilePhoneNumber":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}]},"to_PhoneNumber":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}]},"to_URLAddress":{"results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","IsDefaultURLAddress":true,"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}]}}}}}}}}},"/A_BPContactToAddress(RelationshipNumber='{RelationshipNumber}',BusinessPartnerCompany='{BusinessPartnerCompany}',BusinessPartnerPerson='{BusinessPartnerPerson}',ValidityEndDate=datetime'{ValidityEndDate}',AddressID='{AddressID}')/to_EmailAddress":{"get":{"tags":["ContactPersonAddress","EmailAddress"],"summary":"Retrievesemailaddressdatalinkedtobusinesspartneraddressfields.","description":"Retrievesalltheemailaddressdatalinkedtoallbusinesspartneraddressrecordsinthesystem.","operationId":"get-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspartn-1","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","AddressIDdesc","Person","Persondesc","OrdinalNumber","OrdinalNumberdesc","IsDefaultEmailAddress","IsDefaultEmailAddressdesc","EmailAddress","EmailAddressdesc","SearchEmailAddress","SearchEmailAddressdesc","AddressCommunicationRemarkText","AddressCommunicationRemarkTextdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","IsDefaultEmailAddress","EmailAddress","SearchEmailAddress","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_AddressEmailAddressType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressEmailAddressType"}}}}}},"example":{"d":{"__count":"string","results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}]}}}}}}},"post":{"tags":["EmailAddress","ContactPersonAddress"],"summary":"Createsanewemailaddressdatafortheexistingbusinesspartneraddress.","description":"Addsanewemailaddressdatafortheexistingbusinesspartneraddressrecord.Multipleemailscanbelinkedtoanaddressrecord.","operationId":"post-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspart","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}}],"requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressEmailAddressType-create"},"example":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_AddressEmailAddressType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressEmailAddressType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultEmailAddress":true,"EmailAddress":"string","SearchEmailAddress":"string","AddressCommunicationRemarkText":"string"}}}}}}}},"/A_BPContactToAddress(RelationshipNumber='{RelationshipNumber}',BusinessPartnerCompany='{BusinessPartnerCompany}',BusinessPartnerPerson='{BusinessPartnerPerson}',ValidityEndDate=datetime'{ValidityEndDate}',AddressID='{AddressID}')/to_FaxNumber":{"get":{"tags":["FaxNumber","ContactPersonAddress"],"summary":"Retrievesfaxaddressdatalinkedtobusinesspartneraddress.","description":"Retrievesallthefaxaddressdatalinkedtoallthebusinesspartneraddressrecordsinthesystem","operationId":"get-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspartn-2","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","AddressIDdesc","Person","Persondesc","OrdinalNumber","OrdinalNumberdesc","IsDefaultFaxNumber","IsDefaultFaxNumberdesc","FaxCountry","FaxCountrydesc","FaxNumber","FaxNumberdesc","FaxNumberExtension","FaxNumberExtensiondesc","InternationalFaxNumber","InternationalFaxNumberdesc","AddressCommunicationRemarkText","AddressCommunicationRemarkTextdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","IsDefaultFaxNumber","FaxCountry","FaxNumber","FaxNumberExtension","InternationalFaxNumber","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_AddressFaxNumberType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressFaxNumberType"}}}}}},"example":{"d":{"__count":"string","results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}]}}}}}}},"post":{"tags":["ContactPersonAddress","FaxNumber"],"summary":"Createsanewfaxaddressdatafortheexistingbusinesspartneraddress.","description":"Addsanewfaxaddressrecordfortheexistingbusinesspartneraddressrecord.Multiplefaxcanbelinkedtoanaddressrecord.","operationId":"post-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspart-1","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}}],"requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressFaxNumberType-create"},"example":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_AddressFaxNumberType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressFaxNumberType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","IsDefaultFaxNumber":true,"FaxCountry":"string","FaxNumber":"string","FaxNumberExtension":"string","InternationalFaxNumber":"string","AddressCommunicationRemarkText":"string"}}}}}}}},"/A_BPContactToAddress(RelationshipNumber='{RelationshipNumber}',BusinessPartnerCompany='{BusinessPartnerCompany}',BusinessPartnerPerson='{BusinessPartnerPerson}',ValidityEndDate=datetime'{ValidityEndDate}',AddressID='{AddressID}')/to_MobilePhoneNumber":{"get":{"tags":["ContactPersonAddress","PhoneNumber"],"summary":"Retrievesmobile/telephoneaddressrecordslinkedtobusinesspartneraddress.","description":"Retrievesallthemobile/telephoneaddressrecordslinkedtoallthebusinesspartneraddressrecordsinthesystem.","operationId":"get-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspartn-3","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","AddressIDdesc","Person","Persondesc","OrdinalNumber","OrdinalNumberdesc","DestinationLocationCountry","DestinationLocationCountrydesc","IsDefaultPhoneNumber","IsDefaultPhoneNumberdesc","PhoneNumber","PhoneNumberdesc","PhoneNumberExtension","PhoneNumberExtensiondesc","InternationalPhoneNumber","InternationalPhoneNumberdesc","PhoneNumberType","PhoneNumberTypedesc","AddressCommunicationRemarkText","AddressCommunicationRemarkTextdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","DestinationLocationCountry","IsDefaultPhoneNumber","PhoneNumber","PhoneNumberExtension","InternationalPhoneNumber","PhoneNumberType","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_AddressPhoneNumberType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType"}}}}}},"example":{"d":{"__count":"string","results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}]}}}}}}},"post":{"tags":["ContactPersonAddress","PhoneNumber"],"summary":"Createsanewmobile/telephoneaddressrecordfortheexistingbusinesspartneraddress.","description":"Addsanewmobile/telephonerecordfortheexistingbusinesspartneraddressrecords.Multiplerecordscanbelinkedtoanaddress.","operationId":"post-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspart-2","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}}],"requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType-create"},"example":{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_AddressPhoneNumberType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}}}}}}}},"/A_BPContactToAddress(RelationshipNumber='{RelationshipNumber}',BusinessPartnerCompany='{BusinessPartnerCompany}',BusinessPartnerPerson='{BusinessPartnerPerson}',ValidityEndDate=datetime'{ValidityEndDate}',AddressID='{AddressID}')/to_PhoneNumber":{"get":{"tags":["PhoneNumber","ContactPersonAddress"],"summary":"Retrievesmobile/telephoneaddressrecordslinkedtobusinesspartneraddress.","description":"Retrievesallthemobile/telephoneaddressrecordslinkedtoallthebusinesspartneraddressrecordsinthesystem.","operationId":"get-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspartn-4","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","AddressIDdesc","Person","Persondesc","OrdinalNumber","OrdinalNumberdesc","DestinationLocationCountry","DestinationLocationCountrydesc","IsDefaultPhoneNumber","IsDefaultPhoneNumberdesc","PhoneNumber","PhoneNumberdesc","PhoneNumberExtension","PhoneNumberExtensiondesc","InternationalPhoneNumber","InternationalPhoneNumberdesc","PhoneNumberType","PhoneNumberTypedesc","AddressCommunicationRemarkText","AddressCommunicationRemarkTextdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","DestinationLocationCountry","IsDefaultPhoneNumber","PhoneNumber","PhoneNumberExtension","InternationalPhoneNumber","PhoneNumberType","AddressCommunicationRemarkText"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_AddressPhoneNumberType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType"}}}}}},"example":{"d":{"__count":"string","results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}]}}}}}}},"post":{"tags":["PhoneNumber","ContactPersonAddress"],"summary":"Createsanewmobile/telephoneaddressrecordfortheexistingbusinesspartneraddress.","description":"Addsanewmobile/telephonerecordfortheexistingbusinesspartneraddressrecords.Multiplerecordscanbelinkedtoanaddress.","operationId":"post-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspart-3","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}}],"requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType-create"},"example":{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_AddressPhoneNumberType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressPhoneNumberType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","DestinationLocationCountry":"string","IsDefaultPhoneNumber":true,"PhoneNumber":"string","PhoneNumberExtension":"string","InternationalPhoneNumber":"string","PhoneNumberType":"string","AddressCommunicationRemarkText":"string"}}}}}}}},"/A_BPContactToAddress(RelationshipNumber='{RelationshipNumber}',BusinessPartnerCompany='{BusinessPartnerCompany}',BusinessPartnerPerson='{BusinessPartnerPerson}',ValidityEndDate=datetime'{ValidityEndDate}',AddressID='{AddressID}')/to_URLAddress":{"get":{"tags":["ContactPersonAddress","HomePageURL"],"summary":"RetrieveshomepageURLaddressrecordslinkedtobusinesspartneraddress.","description":"RetrievesallthehomepageURLaddressrecordslinkedtoallbusinesspartneraddressrecordsinthesystem.","operationId":"get-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspartn-5","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","AddressIDdesc","Person","Persondesc","OrdinalNumber","OrdinalNumberdesc","ValidityStartDate","ValidityStartDatedesc","IsDefaultURLAddress","IsDefaultURLAddressdesc","SearchURLAddress","SearchURLAddressdesc","AddressCommunicationRemarkText","AddressCommunicationRemarkTextdesc","URLFieldLength","URLFieldLengthdesc","WebsiteURL","WebsiteURLdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["AddressID","Person","OrdinalNumber","ValidityStartDate","IsDefaultURLAddress","SearchURLAddress","AddressCommunicationRemarkText","URLFieldLength","WebsiteURL"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_AddressHomePageURLType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressHomePageURLType"}}}}}},"example":{"d":{"__count":"string","results":[{"AddressID":"string","Person":"string","OrdinalNumber":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","IsDefaultURLAddress":true,"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}]}}}}}}},"post":{"tags":["ContactPersonAddress","HomePageURL"],"summary":"CreatesanewhomepageURLaddressrecordtotheexistingbusinesspartneraddress.","description":"AddsanewhomepageURLtotheexistingbusinesspartneraddressrecord.MultipleURLscanbelinkedtoanaddressrecord.","operationId":"post-a_bpcontacttoaddress-relationshipnumber-relationshipnumber-businesspart-4","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}}],"requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressHomePageURLType-create"},"example":{"AddressID":"string","Person":"string","OrdinalNumber":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","IsDefaultURLAddress":true,"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_AddressHomePageURLType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_AddressHomePageURLType"}}},"example":{"d":{"AddressID":"string","Person":"string","OrdinalNumber":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","IsDefaultURLAddress":true,"SearchURLAddress":"string","AddressCommunicationRemarkText":"string","URLFieldLength":0,"WebsiteURL":"string"}}}}}}}},"/A_BPContactToFuncAndDept":{"get":{"tags":["FunctionandDepartment"],"summary":"Retrievescontactpersondepartmentandfunctiondata.","description":"Retrievesallthecontactpersondepartmentandfunctiondatalinkedtoallbusinesspartnercontactrecordsinthesystem","operationId":"get-a_bpcontacttofuncanddept","parameters":[{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["RelationshipNumber","RelationshipNumberdesc","BusinessPartnerCompany","BusinessPartnerCompanydesc","BusinessPartnerPerson","BusinessPartnerPersondesc","ValidityEndDate","ValidityEndDatedesc","ContactPersonFunction","ContactPersonFunctiondesc","ContactPersonDepartment","ContactPersonDepartmentdesc","PhoneNumber","PhoneNumberdesc","PhoneNumberExtension","PhoneNumberExtensiondesc","FaxNumber","FaxNumberdesc","FaxNumberExtension","FaxNumberExtensiondesc","EmailAddress","EmailAddressdesc","RelationshipCategory","RelationshipCategorydesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["RelationshipNumber","BusinessPartnerCompany","BusinessPartnerPerson","ValidityEndDate","ContactPersonFunction","ContactPersonDepartment","PhoneNumber","PhoneNumberExtension","FaxNumber","FaxNumberExtension","EmailAddress","RelationshipCategory"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_BPContactToFuncAndDeptType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BPContactToFuncAndDeptType"}}}}}},"example":{"d":{"__count":"string","results":[{"RelationshipNumber":"string","BusinessPartnerCompany":"string","BusinessPartnerPerson":"string","ValidityEndDate":"2017-04-13T00:00:00.0000000+00:00","ContactPersonFunction":"string","ContactPersonDepartment":"string","PhoneNumber":"string","PhoneNumberExtension":"string","FaxNumber":"string","FaxNumberExtension":"string","EmailAddress":"string","RelationshipCategory":"string"}]}}}}}}}},"/A_BPContactToFuncAndDept(RelationshipNumber='{RelationshipNumber}',BusinessPartnerCompany='{BusinessPartnerCompany}',BusinessPartnerPerson='{BusinessPartnerPerson}',ValidityEndDate=datetime'{ValidityEndDate}')":{"get":{"tags":["FunctionandDepartment"],"summary":"Retrievescontactpersondepartmentandfunctiondatabyusingkeyfields.","description":"RetrievesdepartmentandfunctionrecordbyRelationshipNumber,BusinessPartnerCompany,BusinessPartnerPerson,andValidityEndDate.","operationId":"get-a_bpcontacttofuncanddept-relationshipnumber-relationshipnumber-businessp","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["RelationshipNumber","BusinessPartnerCompany","BusinessPartnerPerson","ValidityEndDate","ContactPersonFunction","ContactPersonDepartment","PhoneNumber","PhoneNumberExtension","FaxNumber","FaxNumberExtension","EmailAddress","RelationshipCategory"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentity","content":{"application/json":{"schema":{"title":"A_BPContactToFuncAndDeptType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BPContactToFuncAndDeptType"}}},"example":{"d":{"RelationshipNumber":"string","BusinessPartnerCompany":"string","BusinessPartnerPerson":"string","ValidityEndDate":"2017-04-13T00:00:00.0000000+00:00","ContactPersonFunction":"string","ContactPersonDepartment":"string","PhoneNumber":"string","PhoneNumberExtension":"string","FaxNumber":"string","FaxNumberExtension":"string","EmailAddress":"string","RelationshipCategory":"string"}}}}}}},"patch":{"tags":["FunctionandDepartment"],"summary":"Updatescontactpersondepartmentandfunctiondatarecordbykeyfield.","description":"UpdatesdepartmentandfunctiondatabyRelationshipNumber,BusinessPartnerCompany,BusinessPartnerPerson,andValidityEndDate.","operationId":"patch-a_bpcontacttofuncanddept-relationshipnumber-relationshipnumber-busines","parameters":[{"name":"RelationshipNumber","in":"path","description":"BPRelationshipNumber","required":true,"schema":{"maxLength":12,"type":"string"}},{"name":"BusinessPartnerCompany","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BusinessPartnerPerson","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityDate(ValidTo)","required":true,"schema":{"type":"string","example":"2017-04-13T00:00:00Z"}}],"requestBody":{"description":"Newpropertyvalues","content":{"application/json":{"schema":{"title":"ModifiedA_BPContactToFuncAndDeptType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BPContactToFuncAndDeptType-update"}}},"example":{"d":{"ContactPersonFunction":"string","ContactPersonDepartment":"string","PhoneNumber":"string","PhoneNumberExtension":"string","FaxNumber":"string","FaxNumberExtension":"string","EmailAddress":"string","RelationshipCategory":"string"}}}}},"responses":{"204":{"description":"Success"}}}},"/A_BuPaAddressUsage":{"get":{"tags":["AddressUsage"],"summary":"Retrievesaddressusagelinkedtobusinesspartneraddress.","description":"Retrievesalltheaddressusagerecordslinkedtoallbusinesspartneraddressrecordsinthesystem.","operationId":"get-a_bupaaddressusage","parameters":[{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["BusinessPartner","BusinessPartnerdesc","ValidityEndDate","ValidityEndDatedesc","AddressUsage","AddressUsagedesc","AddressID","AddressIDdesc","ValidityStartDate","ValidityStartDatedesc","StandardUsage","StandardUsagedesc","AuthorizationGroup","AuthorizationGroupdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["BusinessPartner","ValidityEndDate","AddressUsage","AddressID","ValidityStartDate","StandardUsage","AuthorizationGroup"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_BuPaAddressUsageType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaAddressUsageType"}}}}}},"example":{"d":{"__count":"string","results":[{"BusinessPartner":"string","ValidityEndDate":"2017-04-13T15:51:04.0000000+00:00","AddressUsage":"string","AddressID":"string","ValidityStartDate":"2017-04-13T15:51:04.0000000+00:00","StandardUsage":true,"AuthorizationGroup":"string"}]}}}}}}},"post":{"tags":["AddressUsage"],"summary":"Createsanaddressusagerecordlinkedtoaexistingbusinesspartneraddress.","description":"Assignsaddressusagedatatoexistingbusinesspartneraddress.","operationId":"post-a_bupaaddressusage","requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaAddressUsageType-create"},"example":{"BusinessPartner":"string","ValidityEndDate":"2017-04-13T15:51:04.0000000+00:00","AddressUsage":"string","AddressID":"string","ValidityStartDate":"2017-04-13T15:51:04.0000000+00:00","StandardUsage":true,"AuthorizationGroup":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_BuPaAddressUsageType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaAddressUsageType"}}},"example":{"d":{"BusinessPartner":"string","ValidityEndDate":"2017-04-13T15:51:04.0000000+00:00","AddressUsage":"string","AddressID":"string","ValidityStartDate":"2017-04-13T15:51:04.0000000+00:00","StandardUsage":true,"AuthorizationGroup":"string"}}}}}}}},"/A_BuPaAddressUsage(BusinessPartner='{BusinessPartner}',ValidityEndDate=datetimeoffset'{ValidityEndDate}',AddressUsage='{AddressUsage}',AddressID='{AddressID}')":{"get":{"tags":["AddressUsage"],"summary":"Retrievesaddressusagerecordbykeyfields.","description":"RetrievesaddressusagerecordlinkedtoabusinesspartneraddressbyBusinessPartner,ValidityEndDate,AddressUsageandAddressID.","operationId":"get-a_bupaaddressusage-businesspartner-businesspartner-validityenddate-datet","parameters":[{"name":"BusinessPartner","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityEndofaBusinessPartnerAddressUsage","required":true,"schema":{"type":"string","example":"2017-04-13T15:51:04Z"}},{"name":"AddressUsage","in":"path","description":"AddressType","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["BusinessPartner","ValidityEndDate","AddressUsage","AddressID","ValidityStartDate","StandardUsage","AuthorizationGroup"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentity","content":{"application/json":{"schema":{"title":"A_BuPaAddressUsageType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaAddressUsageType"}}},"example":{"d":{"BusinessPartner":"string","ValidityEndDate":"2017-04-13T15:51:04.0000000+00:00","AddressUsage":"string","AddressID":"string","ValidityStartDate":"2017-04-13T15:51:04.0000000+00:00","StandardUsage":true,"AuthorizationGroup":"string"}}}}}}},"patch":{"tags":["AddressUsage"],"summary":"Updatesaddressusagerecordbyusingkeyfields.","description":"UpdatesaddressusagerecordbyBusinessPartner,ValidityEndDate,AddressUsageandAddressID.","operationId":"patch-a_bupaaddressusage-businesspartner-businesspartner-validityenddate-dat","parameters":[{"name":"BusinessPartner","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityEndofaBusinessPartnerAddressUsage","required":true,"schema":{"type":"string","example":"2017-04-13T15:51:04Z"}},{"name":"AddressUsage","in":"path","description":"AddressType","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}}],"requestBody":{"description":"Newpropertyvalues","content":{"application/json":{"schema":{"title":"ModifiedA_BuPaAddressUsageType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaAddressUsageType-update"}}},"example":{"d":{"ValidityStartDate":"2017-04-13T15:51:04.0000000+00:00","StandardUsage":true,"AuthorizationGroup":"string"}}}}},"responses":{"204":{"description":"Success"}}},"delete":{"tags":["AddressUsage"],"summary":"Deletesaddressusagerecordbyusingkeyfields.","description":"DeletesaddressusagerecordbyBusinessPartner,ValidityEndDate,AddressUsageandAddressID.","operationId":"delete-a_bupaaddressusage-businesspartner-businesspartner-validityenddate-da","parameters":[{"name":"BusinessPartner","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"ValidityEndDate","in":"path","description":"ValidityEndofaBusinessPartnerAddressUsage","required":true,"schema":{"type":"string","example":"2017-04-13T15:51:04Z"}},{"name":"AddressUsage","in":"path","description":"AddressType","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"AddressID","in":"path","description":"AddressNumber","required":true,"schema":{"maxLength":10,"type":"string"}}],"responses":{"204":{"description":"Success"}}}},"/A_BuPaIdentification":{"get":{"tags":["Identification"],"summary":"Retrievesbusinesspartneridentificationdata.","description":"Retrievesbusinesspartneridentificationdatafieldsofalltherecordsavailablerecordsinthesystem.","operationId":"get-a_bupaidentification","parameters":[{"name":"$top","in":"query","description":"Showonlythefirstnitems,see[Paging-Top](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=66)","schema":{"type":"integer"},"example":50},{"name":"$skip","in":"query","description":"Skipthefirstnitems,see[Paging-Skip](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filteritemsbypropertyvalues,see[Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)","schema":{"type":"string"}},{"name":"$inlinecount","in":"query","description":"Includecountofitems,see[Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)","schema":{"enum":["allpages","none"],"type":"string"}},{"name":"$orderby","in":"query","description":"Orderitemsbypropertyvalues,see[Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["BusinessPartner","BusinessPartnerdesc","BPIdentificationType","BPIdentificationTypedesc","BPIdentificationNumber","BPIdentificationNumberdesc","BPIdnNmbrIssuingInstitute","BPIdnNmbrIssuingInstitutedesc","BPIdentificationEntryDate","BPIdentificationEntryDatedesc","Country","Countrydesc","Region","Regiondesc","ValidityStartDate","ValidityStartDatedesc","ValidityEndDate","ValidityEndDatedesc","AuthorizationGroup","AuthorizationGroupdesc"],"type":"string"}}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["BusinessPartner","BPIdentificationType","BPIdentificationNumber","BPIdnNmbrIssuingInstitute","BPIdentificationEntryDate","Country","Region","ValidityStartDate","ValidityEndDate","AuthorizationGroup"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentities","content":{"application/json":{"schema":{"title":"Wrapper","type":"object","properties":{"d":{"title":"CollectionofA_BuPaIdentificationType","type":"object","properties":{"__count":{"$ref":"#/components/schemas/count"},"results":{"type":"array","items":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaIdentificationType"}}}}}},"example":{"d":{"__count":"string","results":[{"BusinessPartner":"string","BPIdentificationType":"string","BPIdentificationNumber":"string","BPIdnNmbrIssuingInstitute":"string","BPIdentificationEntryDate":"2017-04-13T00:00:00.0000000+00:00","Country":"string","Region":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","ValidityEndDate":"2017-04-13T00:00:00.0000000+00:00","AuthorizationGroup":"string"}]}}}}}}},"post":{"tags":["Identification"],"summary":"Createsnewbusinesspartneridentificationdata.","description":"Createsnewidentificationdatarecordlinkedtobusinesspartner.","operationId":"post-a_bupaidentification","requestBody":{"description":"Newentity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaIdentificationType-create"},"example":{"BusinessPartner":"string","BPIdentificationType":"string","BPIdentificationNumber":"string","BPIdnNmbrIssuingInstitute":"string","BPIdentificationEntryDate":"2017-04-13T00:00:00.0000000+00:00","Country":"string","Region":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","ValidityEndDate":"2017-04-13T00:00:00.0000000+00:00","AuthorizationGroup":"string"}}}},"responses":{"201":{"description":"Createdentity","content":{"application/json":{"schema":{"title":"A_BuPaIdentificationType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaIdentificationType"}}},"example":{"d":{"BusinessPartner":"string","BPIdentificationType":"string","BPIdentificationNumber":"string","BPIdnNmbrIssuingInstitute":"string","BPIdentificationEntryDate":"2017-04-13T00:00:00.0000000+00:00","Country":"string","Region":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","ValidityEndDate":"2017-04-13T00:00:00.0000000+00:00","AuthorizationGroup":"string"}}}}}}}},"/A_BuPaIdentification(BusinessPartner='{BusinessPartner}',BPIdentificationType='{BPIdentificationType}',BPIdentificationNumber='{BPIdentificationNumber}')":{"get":{"tags":["Identification"],"summary":"Retrievesbusinesspartneridentificationdatabyusingkeyfields.","description":"Retrievesbusinesspartneridentificationdatausingbusinesspartnernumber,identificationtype,andidentificationnumber.","operationId":"get-a_bupaidentification-businesspartner-businesspartner-bpidentificationtyp","parameters":[{"name":"BusinessPartner","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BPIdentificationType","in":"path","description":"IdentificationType","required":true,"schema":{"maxLength":6,"type":"string"}},{"name":"BPIdentificationNumber","in":"path","description":"IdentificationNumber","required":true,"schema":{"maxLength":60,"type":"string"}},{"name":"$select","in":"query","description":"Selectpropertiestobereturned,see[Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)","schema":{"uniqueItems":true,"type":"array","items":{"enum":["BusinessPartner","BPIdentificationType","BPIdentificationNumber","BPIdnNmbrIssuingInstitute","BPIdentificationEntryDate","Country","Region","ValidityStartDate","ValidityEndDate","AuthorizationGroup"],"type":"string"}}}],"responses":{"200":{"description":"Retrievedentity","content":{"application/json":{"schema":{"title":"A_BuPaIdentificationType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaIdentificationType"}}},"example":{"d":{"BusinessPartner":"string","BPIdentificationType":"string","BPIdentificationNumber":"string","BPIdnNmbrIssuingInstitute":"string","BPIdentificationEntryDate":"2017-04-13T00:00:00.0000000+00:00","Country":"string","Region":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","ValidityEndDate":"2017-04-13T00:00:00.0000000+00:00","AuthorizationGroup":"string"}}}}}}},"patch":{"tags":["Identification"],"summary":"Updatesbusinesspartneridentificationdata.","description":"Updatesbusinesspartneridentificationdatabyusingbusinesspartnernumber,identificationtype,andidentificationnumber.","operationId":"patch-a_bupaidentification-businesspartner-businesspartner-bpidentificationt","parameters":[{"name":"BusinessPartner","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BPIdentificationType","in":"path","description":"IdentificationType","required":true,"schema":{"maxLength":6,"type":"string"}},{"name":"BPIdentificationNumber","in":"path","description":"IdentificationNumber","required":true,"schema":{"maxLength":60,"type":"string"}}],"requestBody":{"description":"Newpropertyvalues","content":{"application/json":{"schema":{"title":"ModifiedA_BuPaIdentificationType","type":"object","properties":{"d":{"$ref":"#/components/schemas/API_BUSINESS_PARTNER.A_BuPaIdentificationType-update"}}},"example":{"d":{"BPIdnNmbrIssuingInstitute":"string","BPIdentificationEntryDate":"2017-04-13T00:00:00.0000000+00:00","Country":"string","Region":"string","ValidityStartDate":"2017-04-13T00:00:00.0000000+00:00","ValidityEndDate":"2017-04-13T00:00:00.0000000+00:00","AuthorizationGroup":"string"}}}}},"responses":{"204":{"description":"Success"}}},"delete":{"tags":["Identification"],"summary":"Deletesbusinesspartneridentificationdata.","description":"Deletesbusinesspartneridentificationdatabyusingbusinesspartnernumber,identificationtype,andidentificationnumber.","operationId":"delete-a_bupaidentification-businesspartner-businesspartner-bpidentification","parameters":[{"name":"BusinessPartner","in":"path","description":"BusinessPartnerNumber","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"BPIdentificationType","in":"path","description":"IdentificationType","required":true,"schema":{"maxLength":6,"type":"string"}},{"name":"BPIdentificationNumber","in":"path","description":"IdentificationNumber","required":true,"schema":{"maxLength":60,"type":"string"}}],"responses":{"204":{"description":"Success"}}}},"/A_BuPaIndustry":{"get":{"tags":["Industry"],"summary":"Retrievesbusinesspartnerindustrydata.","description":"Retrievesbusinesspartnerindustrydatafieldsofalltheavailablerecordsinthesystem.","operationId":"get-a_bupaindustry","parameters":[{"name":"$top","in":"query","description":"Sho
[...]
